
@charset "utf-8";

body {
    background-color: #2d3337;
background-image: url("data:image/svg+xml,%3Csvg width='48' height='32' viewBox='0 0 48 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23000000' fill-opacity='0.14'%3E%3Cpath d='M27 32c0-3.314 2.686-6 6-6 5.523 0 10-4.477 10-10S38.523 6 33 6c-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 6.627 0 12 5.373 12 12s-5.373 12-12 12c-2.21 0-4 1.79-4 4h-2zm-6 0c0-3.314-2.686-6-6-6-5.523 0-10-4.477-10-10S9.477 6 15 6c3.314 0 6-2.686 6-6h-2c0 2.21-1.79 4-4 4C8.373 4 3 9.373 3 16s5.373 12 12 12c2.21 0 4 1.79 4 4h2z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: scroll;
}



nav h1 {
    position: fixed;
    margin-top: 10px;
    margin-left: 50px;
    font-size: 30px;
    color: white;
}



footer {
    width: 100%;
    right: 0;
    left: 0;
    padding-top: 10px;
    position: fixed;
    bottom: 0;
    text-align: center;
}



@media only screen and (min-width: 768px){
    #nav {
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        text-align: right;
        word-spacing: 50px;
        letter-spacing: 5px;
        text-decoration: none;
        margin-top: 15px;
        position: fixed;
        right: 100px;
        font-weight: lighter;
    }
    
    #nav a:link {
        text-decoration: none;
        color: white;
    }
    
    #nav a:visited {
        text-decoration: none;
        color: white;
    }
    
    #nav a:hover {
        text-decoration: none;
        color:#DC143C;
    }
    
    #nav a:active {
        text-decoration: none;
        color: #DC143C;
    }

    #hamnav {
        width: 100%;
    }

    nav label, #hamburger {
        display: none;
    }
}



@media only screen and (max-width: 767px) {
    .grid-container  {
        background-color: white;
        padding: 20px
    }

    label[for="hamburger"]{
        font-size: 2em;
        text-align: center;
        float: right;
    }
    #nav a {
        box-sizing: border-box;
        display: block;
        width: 100%;
        text-decoration: none;
        font-size: 15px;
        color: white;
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        letter-spacing: 5px;
        margin-top: 15px;
        float: right;
        text-align: right;
        font-weight: lighter;
    }

    #nav a:link {
        text-decoration: none;
        color: white;
    }
    
    #nav a:visited {
        text-decoration: none;
        color: white;
    }
    
    #nav a:hover {
        text-decoration: none;
        color:#DC143C;
    }
    
    #nav a:active {
        text-decoration: none;
        color: #DC143C;
    }

    nav label {
        display: inline-block;
        color: white;
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-size: 1.2em;
        padding: 10px;
    }

    #nav, #hamburger {
        display: none;
    }

    nav input:checked ~ #nav {
        display: block;
    }
}